@model IEnumerable<memo.Models.Memo>    
                                <div id="listView" style="display: none;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Date)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Details)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model) {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>
                                            <td>
                                                <b>@Html.DisplayFor(modelItem => item.Title)</b>
                                            </td>
                                            <td>
                                                <pre> @Html.DisplayFor(modelItem => item.Details)</pre>
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.memoId">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.memoId">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.memoId">Delete</a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
    @if (@Url.Action().Contains("NotificationWidget"))
    {
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Memo App</title>

            <!-- Bootstrap core CSS -->
            <link href="/assets/css/bootstrap.css" rel="stylesheet">
            <!--external css-->
            <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
            <link rel="stylesheet" type="text/css" href="/assets/lineicons/style.css">    

            <!-- Custom styles for this template -->
            <link href="/assets/css/style.css" rel="stylesheet">
            <link href="/assets/css/style-responsive.css" rel="stylesheet">

            <script src="/assets/js/chart-master/Chart.js"></script>

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
        </head>
        <body>
                            <div class="col-lg-3 ds" style="padding: 0px !important;">
                                <!-- @{var count = 0;} -->
                                @foreach (var item in Model) {
                                <!-- First Action -->
                                <div class="desc">
                                    <div class="thumb">
                                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                                    </div>
                                    <div class="details">
                                        <p><muted>@Html.DisplayFor(modelItem => item.Date)</muted><br/>
                                            <a href="#">@Html.DisplayFor(modelItem => item.Title)</a> @Html.DisplayFor(modelItem => item.Details)<br/>
                                        </p>
                                    </div>
                                </div>
                                <!-- SAVING THIS CODE IN CASE I NEED TO IMPLEMENT NOTIFICATION BADGE COUNT FEATURE -->
                                <!-- count++; -->
                                <!-- @count -->
                                }
                            </div><!-- /col-lg-3 -->
        </body>
            </html>
    }